#rayaLogo {
    max-width: 50px;
}

.panel-text {
    text-shadow: 0px 1px 3px #aeaeae;
}

#logout-button:hover {
    color: #df1c1c !important;
}

.txt-custom {
    height: 34px;
    resize: vertical;
}

.submit-button {
    float: left;
    margin-left: 12px;
}

.form-control {
    margin-bottom: 10px;
}

.sendRequest {
    padding: 0;
    margin: 0;
}

.sendRequest button {
    display: inline-block !important;
}

.tac {
    text-align: center;
}

.tumb-pic {
    width: 100px;
    margin: 9px 0px;
    box-shadow: 1px 2px 9px 6px #bbbd;
    border-radius: 3px;
}

.inb {
    display: inline-block !important;
}

.cbfl {
    vertical-align: -19px;
    margin-right: 10px;
}

.tumb-pic-index {
    width: 60px;
    box-shadow: 1px 2px 9px 6px #bbbd;
    border-radius: 3px;
    transition: 0.3s;
}

.tumb-pic-index:hover {
    cursor: pointer;
    margin-bottom: 17px;
}

.per-date {
    direction: ltr !important;
    font-size: 17px;
    font-weight: bold !important;
}

.swal2-popup {
    font-size: 1.2em !important;
}

#sidebar-menu ul li .menu-arrow {
    transform: rotate(180deg);
}
.items-box h4 {
    display: inline-block;
    margin-left: 20px;
}
.war {
    font-size: 16px;
}
.jus {
    text-align: justify !important;
}
.sucsok {
    border: 1px solid #41b141;
}

.card-box.items-box b,
p {
    font-size: 16px;
}
.contract-image {
    margin: 0 auto;
    border: 1px solid #d4d0d0;
    box-shadow: 1px 2px 3px #ddd;
    border-radius: 3px;
    padding: 9px;
    width: 40%;
    box-sizing: border-box;
}

.earning-holder {
    border: 1px solid #ddd;
    padding: 10px;
    width: 83%;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 17%;
    margin-bottom: 12px;
    position: relative;
}

.delete-box {
    border: 1px solid #ddd;
    color: red;
    text-align: left;
    border-radius: 3px;
    margin-bottom: 4px;
    position: absolute;
    padding: 5px;
    display: inline-block;
    left: 9px;
    font-size: 17px;
    font-weight: bold;
    z-index: 99;
}
.delete-box:hover {
    color: rgb(153, 5, 5);
    cursor: pointer;
}

h2#swal2-title {
    line-height: 45px;
}

.swal2-popup.swal2-modal.swal2-icon-question.swal2-show {
    width: 40%;
}

.earning-status-label {
    padding: 13px;
    margin-top: 10px;
    font-size: 14px;
    display: inline-block;
}
.ear-sta-text {
    display: inline-block;
    margin-left: 14px;
}
.date-show {
    direction: ltr !important;
}
.earning-time {
    display: inline-block;
}
.earning-box {
    border-bottom: 2px solid #64ce76;
    padding-bottom: 15px;
}
.earning-box:last-child{
    border-bottom: none !important;
    padding-bottom: 0 !important;
}
.sep-line{
    border-bottom: 2px solid #ddd;
}
